*

!/similartext/build/libs/similartext-0.0.1-SNAPSHOT.jar
!/stws/build/libs/stws-0.0.1-SNAPSHOT.jar
!/sse/build/libs/sse-0.0.1-SNAPSHOT.jar
!/stwork/build/libs/stwork-0.0.1-SNAPSHOT.jar
!/kafka_2.13-3.6.0
!/launch
!/licenses
!/LICENSE
!/public_domain_text/generated/st
