<div class="titlecont"><span class="titlebgnew"></span>New Text</div>
<div class="topcont">
 <form>
  <div class="input-group">
   <label for="formFileLg" class="input-group-text">Upload a text file:</label>
   <input class="form-control form-control-lg" id="formFileLg" type="file">
  </div>
  <button class="btn btn-info submit-btn" type="button">Submit</button>
 </form>
 <div class="horizontalline">
 <div id="horizontaldivideb"></div>
 <span>OR</span>
 </div>
 <form>
  <div class="input-group">
    <span class="input-group-text">Paste text here:</span>
    <textarea class="form-control" aria-label="Paste text here:"></textarea>
  </div>
  <button class="btn btn-info submit-btn" type="button">Submit</button>
 </form>
</div>
<div class="titlecont"><span class="titlebghist"></span>Submitted Text</div>
<div class="accordion" id="accordionPanelsStayOpenExample">
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Accordion Item #2
	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
